.About{

	background-color: black;
	padding-bottom: 5px;
}
.About .Container{
	display:flex;
	
}
.About .Container .Text{
	width:47%;
	margin-left: 3%;
}
.About .Container .myphoto .myself{
	height:500px;
border-radius: 10%;

}
.Container .Text{
	background-color:black;
	color:white;
	
	
}
.About .Container .myphoto .Text h2{
	font-weight: 900;
	font-size: 46px;

}
.About .Container .Text .myphoto .myself{
	width:50%;
	display:flex;
	justify-content: center;
}